<nav class='sticky'>
  <div class="logo"><h4>Places Map</h4></div>
  <ul class="nav-links">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/places">Places </a></li>
    <li><a href="/places/new">New Place</a></li>
    <!-- <li><a href="#">Contact</a></li>
    <li><a href="#">Feedback</a></li> -->
  </ul>
  <div class="burger">

    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>

<script src="/js/app.js">


</script>
