<% layout('./layouts/boilerplate') %>
    <h1>all places</h1>
    <div>  <a href='/places/new'>new Places</a></div>
  
    <ul>
        <% for(let place of places){%>
        
            <li><a href="/places/<%= place._id %>"><%= place.title %></a></li>
       <% }%> 
    </ul>
    
