* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  flex-direction: column;
  font-family: montserrat;
  height: 100vh;

  display: flex;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6rem;
  margin-bottom: 3em;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin: 1em;
  width: -webkit-fill-available;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  /* display: flex; */
}

.home-btn {
  font-weight: bold !important;
  font-size: xx-large !important;
  margin: 1em;
  background-color: rgba(255,255,255,0.9);
  color: #333;
}

.margin-top5 {
  margin-top: 8rem;
}

/*        Home page  */
.main-home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1535745122259-f1e187953c4c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80")
      no-repeat center;
  background-size: cover;
}
.main-home .cover-container {
  margin-top: 18%;
}
.main-home .tac {
  text-align: center;
  color: #fff;
}
.cover-container .lead {
  margin: 2em;
  font-size: larger;
  font-weight: bold;
}

/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
} */
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row {
    display: inline-block;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/*                 create new place form  */
.text-center {
  text-align: center;
  margin-bottom: 1em;
}
/* .newPlaceForm {
  /* width: 50%;
  margin-left: 25%; 
} */
.column {
  margin-bottom: 1rem;
}
.form-label {
  margin-bottom: 0.5rem;
}
.form-inputs {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  margin: 0.5em 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea {
  height: 8em;
  width: 100%;
  margin: 2em 0;
}
/* .addButton {
  display: inline-block;

  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;

  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
} */

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

@media screen and (min-width: 768px) {
  .PlaceForm {
    width: 70%;
    margin-left: 15%;
  }
  /* .container {
    max-width: 720px;
  } */
}
/* @media (min-width: 576px){
    .container {
      max-width: 540px;
    }} */

/*                           All places page  */
.map {
  width: 95%;
  height: 500px;
  margin: 1em;
}

.placesForm {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.column-width {
  flex: 0 0 auto;
  width: 50%;
  border: ridge;
}
@media (max-width: 992px) {
  .column-width {
    width: 100%;
  }
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 2rem 1rem 1rem;
}
.card-text {
  line-break: anywhere;
} /* one place show  */
.img-fluid {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.placesForm .card-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.text-light {
  color: #6c757d;
}

.margin1 {
  margin: 1em;
}
.mt1 {
  margin: 1em 0.2em;
  font-size: 2em;
}
.disflex {
  display: flex;
}
.btn {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin: 1em 0;
}
.btn-info {
  color: white;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  padding: 5px 21px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.d-inline {
  display: inline;
}
/*                                          Place Map  */

.place-map {
  width: 100%;
  height: 300px;
}
h2 {
  margin: 1em;
}

/* Place Rating  */

.place-rating-form {
  margin: 1em;
}
.place-rating-form div label {
  font-size: xx-large;
  margin: 0.2em;
}

input[type="range"] {
  margin: 1em 1em;
  width: 65%;
  background: #94a14e;
  border: solid 1px #091f20;
  border-radius: 8px;
  cursor: ew-resize;

  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #fbfcf9;
  border: 2px solid #110303;
  height: 15px;
  width: 15px;
}

/*                                            Reviews display  */

.reviews {
  border: 2px solid;

  height: auto;
  width: 100%;
  display: inline-block;
  /* text-align: -webkit-center; */
}
.reviews .review {
  border: 2px black solid;
  height: 15em;
  width: 45%;
  overflow: auto;
  display: inline-table;
  margin: 2em 1em;
}
.reviews .review h2 {
  margin: 0.5em;
  height: fit-content;
}
.reviews .review h4 {
  margin: 0 1em;
  line-break: anywhere;
}
.reviews .review form {
  margin: 1em;
}

@media (min-width: 768px) {
  .img-fluid {
    vertical-align: middle;
    width: 94%;
    height: 560px;
  }

  .img-row {
    width: 33.3333333333%;
  }
}

@media (max-width: 420px) {
  input[type="range"] {
    width: 90%;
  }
  .reviews .review {
    margin: 2em 0.3em;
  }
}
/*                           Error Page  */
.errorAlert {
  background-color: rgba(207, 0, 15, 0.5);
  height: auto;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: start;
  padding: 50px;
  /* display: flex;*/
}
.errorImg {
  width: 100%;
  height: 22em;
}

/*                              Flash    */

.flash-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.flash-failed {
  color: #d14318;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
