footer {
  background-color: #212529;

  text-shadow: 6px 3px rgb(19 1 1 / 17%);
  font-variant: all-small-caps;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-top: a;

  width: 100%;
}
.footerContainer {
  background-color: #212529;
  /* padding-top: 0.2em;
    padding-bottom: 0.2em */
}
.text-light {
  color: #6c757d;
}
